# NYC High School Data - Data Cleaning

# Import data files into dataframe

In [68]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}

for each in data_files:
    f = pd.read_csv("schools/{}".format(each))
    data_name = each.replace(".csv","")
    data[data_name]=f
print(data["sat_results"].head(5))

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [69]:
for each, frame in data.items():
    print(data[each].head(5))

      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management               s

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                    s
2                26                                   24
3               377                                  191
4                 s                                    s
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5
3               252   17  37     44     32    ...            75      29.8
4               208   16  40     28     32    ...            67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27
3            78              43                     55.1%                36
4            78              44                     56.4%                37

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                       30.9%                      45.9%
2                       42.2%                      62.8%
3                       46.2%                      83.7%
4                       47.4%                      84.1%

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27
3            ...                                  36
4            ...                                  37

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                              30.9%                             45.9%
2                              42.2%                             62.8%
3                              46.2%                             83.7%
4                              47.4%                             84.1%

  Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0         s                   s                    s                  s
1        20               36.4%                54.1%                 15
2        16                 25%  37.200000000000003%                  9
3         7                  9%                16.3%                 16
4         7                  9%                15.9%                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                        27.3%               3                      5.5%
2                        14.1%               9                     14.1%
3                        20.5%              11                     14.1%
4                        19.2%              11                     14.1%

[5 rows x 23 columns]
      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max  \
0               NaN                NaN
1               NaN                NaN
2               NaN                NaN
3                 9               14.0
4               NaN                NaN

                         ...                          \
0                        ...
1                        ...
2                        ...
3                        ...
4                        ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...
2  Then to Bronx students or residents who attend...
3  Then to New York City residents who attend an ...
4  Then to Districts 28 and 29 students or residents

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...
3          Then to Manhattan students or residents
4               Then to Queens students or residents

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents
3      Then to New York City residents                              NaN
4      Then to New York City residents                              NaN

  priority06  priority07 priority08  priority09 priority10  \
0        NaN         NaN        NaN         NaN        NaN
1        NaN         NaN        NaN         NaN        NaN
2        NaN         NaN        NaN         NaN        NaN
3        NaN         NaN        NaN         NaN        NaN
4        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4  160-20 Goethals Avenue\nJamaica, NY 11432\n(40...

[5 rows x 58 columns]
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

# Import and merge .txt files

In [70]:
all_survey = pd.read_csv("schools/survey_all.txt",delimiter="\t",encoding="windows-1252")
d75_survey = pd.read_csv("schools/survey_d75.txt",delimiter="\t",encoding="windows-1252")
survey = pd.concat([all_survey,d75_survey],axis=0)
print(survey.head(5))

     N_p    N_s   N_t  aca_p_11  aca_s_11  aca_t_11  aca_tot_11    bn  \
0   90.0    NaN  22.0       7.8       NaN       7.9         7.9  M015
1  161.0    NaN  34.0       7.8       NaN       9.1         8.4  M019
2  367.0    NaN  42.0       8.6       NaN       7.5         8.0  M020
3  151.0  145.0  29.0       8.5       7.4       7.8         7.9  M034
4   90.0    NaN  23.0       7.9       NaN       8.1         8.0  M063

   com_p_11  com_s_11   ...    t_q8c_1  t_q8c_2  t_q8c_3 t_q8c_4  t_q9  \
0       7.6       NaN   ...       29.0     67.0      5.0     0.0   NaN
1       7.6       NaN   ...       74.0     21.0      6.0     0.0   NaN
2       8.3       NaN   ...       33.0     35.0     20.0    13.0   NaN
3       8.2       5.9   ...       21.0     45.0     28.0     7.0   NaN
4       7.9       NaN   ...       59.0     36.0      5.0     0.0   NaN

   t_q9_1  t_q9_2  t_q9_3  t_q9_4  t_q9_5
0     5.0    14.0    52.0    24.0     5.0
1     3.0     6.0     3.0    78.0     9.0
2     3.0     5.0    16.0    70.0     5.0
3     0.0    18.0    32.0    39.0    11.0
4    10.0     5.0    10.0    60.0    15.0

[5 rows x 2773 columns]

In [71]:
survey["DBN"]=survey["dbn"]
fields = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
survey = survey.loc[:,fields]
data["survey"]=survey
print(survey.head())

      DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  01M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6       7.5
1  01M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6       7.6
2  01M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3       8.3
3  01M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2       8.0
4  01M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9       8.1

      ...      eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0     ...           7.6       7.9       NaN       NaN       NaN       NaN
1     ...           8.9       9.1       NaN       NaN       NaN       NaN
2     ...           6.8       7.5       NaN       NaN       NaN       NaN
3     ...           6.8       7.8       6.2       5.9       6.5       7.4
4     ...           7.8       8.1       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0
3         7.3         6.7         7.1         7.9
4         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

# Merging padded CSD and school code to create the DBN code column

In [72]:
data["hs_directory"]["DBN"]=data["hs_directory"]["dbn"]
def pad_csd(num):
    test_str = str(num)
    if len(test_str)==2:
        return test_str
    if len(test_str)<2:
        return test_str.zfill(2)
    
data["class_size"]["padded_csd"]=data["class_size"]["CSD"].apply(pad_csd)
data["class_size"]["DBN"]=data["class_size"]["padded_csd"]+data["class_size"]["SCHOOL CODE"]
data["class_size"].head(5)

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015

# Convert and combine SAT score

In [73]:
cols = ["SAT Math Avg. Score","SAT Critical Reading Avg. Score","SAT Writing Avg. Score"]

for each in cols:
    data["sat_results"][each]=pd.to_numeric(data["sat_results"][each],errors="coerce")

data["sat_results"]["sat_score"]=data["sat_results"][cols[0]]+data["sat_results"][cols[1]]+data["sat_results"][cols[2]]
data["sat_results"].head(5)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0

# Obtain latitude and longtitude coordinate of the schools

In [74]:
import re

def lat_coor(string):
    coor_string = re.findall("\(.+\)",string)
    latitude = coor_string[0].split(",")[0].replace("(","") # coor_string[0] to obtain strings for .split()
    return latitude
data["hs_directory"]["lat"]=data["hs_directory"]["Location 1"].apply(lat_coor)
data["hs_directory"]["lat"].head()

0     40.67029890700047
1      40.8276026690005
2    40.842414068000494
3     40.71067947100045
4    40.718810094000446
Name: lat, dtype: object

In [75]:
def long_coor(string):
    coor_string = re.findall("\(.+\)",string)
    longtitude = coor_string[0].split(",")[1].replace(")","") # coor_string[0] to obtain strings for .split()
    return longtitude
data["hs_directory"]["lon"]=data["hs_directory"]["Location 1"].apply(long_coor)
data["hs_directory"]["lon"].head()

0     -73.96164787599963
1     -73.90447525699966
2     -73.91616158599965
3     -74.00080702099967
4     -73.80650045499965
Name: lon, dtype: object

In [76]:
data["hs_directory"]["lat"] = pd.to_numeric(data["hs_directory"]["lat"],errors="coerce")
data["hs_directory"]["lon"] = pd.to_numeric(data["hs_directory"]["lon"],errors="coerce")
data["hs_directory"].head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",17K548,40.670299,-73.961648
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",09X543,40.827603,-73.904475
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",09X327,40.842414,-73.916162
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",02M280,40.710679,-74.000807
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40...",28Q680,40.718810,-73.806500

# Condense datasets by the unique DBN

In [77]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "]=="09-12"]
class_size = class_size[class_size["PROGRAM TYPE"]=="GEN ED"]
class_size.head(5)

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
225,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63.0,3.0,21.0,19.0,25.0,STARS,NaN,01,01M292
226,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79.0,3.0,26.3,24.0,31.0,STARS,NaN,01,01M292
227,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38.0,2.0,19.0,16.0,22.0,STARS,NaN,01,01M292
228,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69.0,3.0,23.0,13.0,30.0,STARS,NaN,01,01M292
229,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53.0,3.0,17.7,16.0,21.0,STARS,NaN,01,01M292

In [132]:
import numpy
class_size = class_size.groupby("DBN").agg(numpy.mean)
class_size = class_size.reset_index()
data["class_size"]=class_size
data["class_size"].head()

,DBN,CSD,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,1,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,1,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,1,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,1,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,1,57.6000,2.733333,21.200000,19.40,22.866667,NaN

In [133]:
data["demographics"][data["demographics"]["schoolyear"]==int(20112012)]

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9
42,01M064,PS 064 ROBERT SIMON,20112012,NaN,76.9,324,27,54,50,42,...,76,23.5,193,59.6,24,7.4,184.0,56.8,140.0,43.2
49,01M110,PS 110 FLORENCE NIGHTINGALE,20112012,NaN,52.5,440,34,67,75,65,...,58,13.2,194,44.1,124,28.2,219.0,49.8,221.0,50.2
56,01M134,PS 134 HENRIETTA SZOLD,20112012,NaN,84.1,369,36,67,57,55,...,74,20.1,181,49.1,8,2.2,177.0,48.0,192.0,52.0
63,01M137,PS 137 JOHN L BERNSTEIN,20112012,NaN,82.2,230,18,43,43,39,...,57,24.8,123,53.5,7,3.0,111.0,48.3,119.0,51.7
70,01M140,PS 140 NATHAN STRAUS,20112012,NaN,82.1,407,16,37,35,39,...,66,16.2,317,77.9,7,1.7,216.0,53.1,191.0,46.9
77,01M142,PS 142 AMALIA CASTRO,20112012,NaN,91.8,433,33,74,63,74,...,58,13.4,321,74.1,12,2.8,208.0,48.0,225.0,52.0
84,01M184,PS 184M SHUANG WEN,20112012,NaN,71.5,690,36,75,98,97,...,29,4.2,40,5.8,58,8.4,344.0,49.9,346.0,50.1
91,01M188,PS 188 THE ISLAND SCHOOL,20112012,NaN,89.6,388,20,35,29,42,...,104,26.8,255,65.7,19,4.9,211.0,54.4,177.0,45.6
98,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,20112012,NaN,88.6,422,,,,,...,123,29.1,227,53.8,7,1.7,259.0,61.4,163.0,38.6
105,01M301,TECHNOLOGY ARTS AND SCIENCES STUDIO,20112012,NaN,71.0,170,,,,,...,41,24.1,99,58.2,11,6.5,93.0,54.7,77.0,45.3
112,01M315,THE EAST VILLAGE COMMUNITY SCHOOL,20112012,NaN,35.2,244,34,44,41,51,...,30,12.3,69,28.3,101,41.4,144.0,59.0,100.0,41.0
120,01M332,UNIVERSITY NEIGHBORHOOD MIDDLE SCHOOL,20112012,NaN,87.9,115,,,,,...,26,22.6,86,74.8,0,0.0,72.0,62.6,43.0,37.4
126,01M345,COLLABORATIVE ACADEMY OF SCIENCE,20112012,NaN,77.1,245,,,,,...,56,22.9,151,61.6,6,2.4,137.0,55.9,108.0,44.1
133,01M361,CHILDREN'S WORKSHOP SCHOOL,20112012,NaN,42.7,247,34,31,44,41,...,32,13.0,74,30.0,100,40.5,101.0,40.9,146.0,59.1
140,01M363,NEIGHBORHOOD SCHOOL,20112012,NaN,33.1,315,19,43,54,59,...,53,16.8,90,28.6,128,40.6,155.0,49.2,160.0,50.8
147,01M364,EARTH SCHOOL,20112012,NaN,34.7,336,18,55,53,47,...,32,9.5,118,35.1,125,37.2,174.0,51.8,162.0,48.2
151,01M378,SCHOOL FOR GLOBAL LEADERS,20112012,NaN,71.1,271,,,,,...,49,18.1,188,69.4,10,3.7,136.0,50.2,135.0,49.8
158,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20112012,NaN,71.8,394,,,,,...,89,22.6,181,45.9,9,2.3,226.0,57.4,168.0,42.6
165,01M450,EAST SIDE COMMUNITY HIGH SCHOOL,20112012,NaN,71.8,598,,,,,...,143,23.9,331,55.4,62,10.4,327.0,54.7,271.0,45.3
167,01M458,SATELLITE ACADEMY HS @ FORSYTHE STREET,20112012,NaN,72.8,224,,,,,...,77,34.4,133,59.4,8,3.6,97.0,43.3,127.0,56.7
174,01M509,MARTA VALLE SECONDARY SCHOOL,20112012,NaN,80.7,367,,,,,...,116,31.6,209,56.9,6,1.6,170.0,46.3,197.0,53.7
181,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,20112012,NaN,77.0,562,,,,,...,29,5.2,50,8.9,5,0.9,302.0,53.7,260.0,46.3
188,01M539,NEW EXPLORATIONS INTO SCIENCE TECH AND MATH,20112012,NaN,23.0,1613,,100,107,139,...,189,11.7,229,14.2,725,44.9,794.0,49.2,819.0,50.8
195,01M650,CASCADES HIGH SCHOOL,20112012,NaN,69.8,218,,,,,...,99,45.4,108,49.5,9,4.1,87.0,39.9,131.0,60.1
202,01M696,BARD HIGH SCHOOL EARLY COLLEGE,20112012,NaN,18.0,617,,,,,...,93,15.1,112,18.2,307,49.8,193.0,31.3,424.0,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9880,31R600,RALPH R. MCKEE CAREER AND TECHNICAL HIGH SCHOOL,20112012,NaN,59.7,675,,,,,...,272,40.3,224,33.2,146,21.6,453.0,67.1,222.0,32.9
9887,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,20112012,NaN,17.0,1104,,,,,...,12,1.1,59,5.3,677,61.3,629.0,57.0,475.0,43.0
9890,31R861,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,20112012,NaN,55.3,715,36,109,60,79,...,151,21.1,269,37.6,213,29.8,374.0,52.3,341.0,47.7
9897,32K045,PS 045 HORACE E GREENE,20112012,NaN,91.8,815,53,109,128,110,...,460,56.4,330,40.5,8,1.0,418.0,51.3,397.0,48.7
9904,32K075,PS 075 MAYDA CORTIELLA,20112012,NaN,80.0,652,53,110,95,104,...,120,18.4,505,77.5,13,2.0,318.0,48.8,334.0,51.2
9911,32K086,PS 086 THE IRVINGTON,20112012,NaN,97.0,514,,81,94,75,...,14,2.7,465,90.5,18,3.5,258.0,50.2,256.0,49.8
9918,32K106,PS 106 EDWARD EVERETT HALE,20112012,NaN,96.0,627,36,94,100,119,...,97,15.5,497,79.3,16,2.6,321.0,51.2,306.0,48.8
9925,32K116,PS 116 ELIZABETH L FARRELL,20112012,NaN,92.6,523,,104,81,85,...,27,5.2,473,90.4,10,1.9,260.0,49.7,263.0,50.3
9932,32K123,PS 123 SUYDAM,20112012,NaN,95.0,890,,169,160,144,...,51,5.7,800,89.9,12,1.3,462.0,51.9,428.0,48.1
9939,32K145,PS 145 ANDREW JACKSON,20112012,NaN,88.1,873,54,154,147,147,...,30,3.4,831,95.2,4,0.5,444.0,50.9,429.0,49.1
9946,32K151,PS 151 LYNDON B JOHNSON,20112012,NaN,95.5,443,18,75,83,61,...,111,25.1,323,72.9,9,2.0,219.0,49.4,224.0,50.6
9953,32K162,JHS 162 THE WILLOUGHBY,20112012,NaN,89.5,531,,,,,...,35,6.6,461,86.8,8,1.5,262.0,49.3,269.0,50.7
9954,32K168,BROOKLYN SCHOOL FOR MATH AND RESEARCH,20112012,NaN,60.0,43,,,,,...,21,48.8,17,39.5,0,0.0,26.0,60.5,17.0,39.5
9961,32K274,PS 274 KOSCIUSKO,20112012,NaN,97.7,631,52,101,105,89,...,96,15.2,504,79.9,5,0.8,328.0,52.0,303.0,48.0
9968,32K291,JHS 291 ROLAND HAYES,20112012,NaN,94.9,643,,,,,...,133,20.7,501,77.9,2,0.3,345.0,53.7,298.0,46.3
9975,32K296,JHS 296 THE HALSEY,20112012,NaN,86.4,412,,,,,...,173,42.0,229,55.6,3,0.7,202.0,49.0,210.0,51.0
9982,32K299,PS 299 THOMAS WARREN FIELD,20112012,NaN,82.0,446,35,59,58,79,...,237,53.1,192,43.0,9,2.0,207.0,46.4,239.0,53.6
9989,32K347,IS 347 SCHOOL OF HUMANITIES,20112012,NaN,97.3,501,,,,,...,56,11.2,433,86.4,8,1.6,271.0,54.1,230.0,45.9
9996,32K349,I.S. 349 MATH SCIENCE & TECH,20112012,NaN,92.3,467,,,,,...,58,12.4,398,85.2,4,0.9,244.0,52.2,223.0,47.8
10003,32K376,PS 376,20112012,NaN,94.9,640,,98,104,115,...,54,8.4,570,89.1,8,1.2,307.0,48.0,333.0,52.0
10010,32K377,PS 377 ALEJANDRINA B DEGAUTIER,20112012,NaN,78.4,696,36,52,62,66,...,120,17.2,554,79.6,12,1.7,365.0,52.4,331.0,47.6
10017,32K383,JHS 383 PHILLIPPA SCHUYLER,20112012,NaN,52.7,844,,,,,...,527,62.4,245,29.0,17,2.0,373.0,44.2,471.0,55.8
10024,32K384,PS 384 FRANCES E CARTER,20112012,NaN,82.2,745,35,93,92,81,...,153,20.5,579,77.7,4,0.5,365.0,49.0,380.0,51.0
10030,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20112012,NaN,88.7,362,,,,,...,76,21.0,279,77.1,3,0.8,181.0,50.0,181.0,50.0
10039,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEBUSHWICK,20112012,NaN,86.9,606,,,,,...,56,9.2,534,88.1,4,0.7,316.0,52.1,290.0,47.9
10046,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20112012,NaN,75.1,434,,,,,...,123,28.3,298,68.7,8,1.8,210.0,48.4,224.0,51.6
10053,32K552,ACADEMY OF URBAN PLANNING,20112012,NaN,77.1,398,,,,,...,105,26.4,280,70.4,4,1.0,217.0,54.5,181.0,45.5
10060,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20112012,NaN,81.4,263,,,,,...,34,12.9,209,79.5,4,1.5,137.0,52.1,126.0,47.9
10067,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20112012,NaN,88.0,462,,,,,...,98,21.2,357,77.3,0,0.0,246.0,53.2,216.0,46.8
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,NaN,81.8,382,,,,,...,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

In [134]:
data["demographics"]=data["demographics"][data["demographics"]["schoolyear"]==int(20112012)]
data["demographics"].head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

In [135]:
data["graduation"]=data["graduation"][data["graduation"]["Cohort"]=="2006"]
data["graduation"]=data["graduation"][data["graduation"]["Demographic"]=="Total Cohort"]
data["graduation"].head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4%,91,47.2%,86.7%,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%

In [136]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for each in cols:
    data["ap_2010"][each]=pd.to_numeric(data["ap_2010"][each],errors="coerce")
print(data["ap_2010"].dtypes)

DBN                                      object
SchoolName                               object
AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object

# Now data sets are ready for merging
The data sets are merged in a way that the most number of rows from sat_results are preserved. Moreoever, an appropriate merging strategy is used to make sure the most information from the demographics data set is also preserved.

In [138]:
combined = data["sat_results"]
combined = combined.merge(data["ap_2010"],on="DBN",how="left")
combined = combined.merge(data["graduation"],on="DBN",how="left")
combined.shape
combined.head(5)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,NaN,NaN,NaN,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.0,21.0,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0,NaN,NaN,NaN,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%

In [139]:
combined = combined.merge(data["class_size"],on="DBN",how="inner")
combined = combined.merge(data["demographics"],on="DBN",how="inner")
combined = combined.merge(data["survey"],on="DBN",how="inner")
combined = combined.merge(data["hs_directory"],on="DBN",how="inner")
combined.head()
combined.shape

(363, 159)

# Fill all the NaN values

In [142]:
combined=combined.fillna(combined.mean())
combined=combined.fillna(0)
combined.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,lat,lon
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,0,129.028846,197.038462,...,Then to Manhattan students or residents,Then to New York City residents,0,0,0,0,0,"220 Henry Street\nNew York, NY 10002\n(40.7137...",40.713764,-73.985260
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.000000,49.000000,...,0,0,0,0,0,0,0,"200 Monroe Street\nNew York, NY 10002\n(40.712...",40.712332,-73.984797
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.000000,21.000000,...,0,0,0,0,0,0,0,"420 East 12 Street\nNew York, NY 10009\n(40.72...",40.729783,-73.983041
3,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0,0,129.028846,197.038462,...,0,0,0,0,0,0,0,"145 Stanton Street\nNew York, NY 10002\n(40.72...",40.720569,-73.985673
4,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.000000,377.000000,...,0,0,0,0,0,0,0,"111 Columbia Street\nNew York, NY 10002\n(40.7...",40.718725,-73.979426

In [144]:
def extract_name(string):
    name=string
    return name[0:2]
combined["school_dist"] = combined["DBN"].apply(extract_name)
combined["school_dist"].head()

0    01
1    01
2    01
3    01
4    01
Name: school_dist, dtype: object

# Now data is cleaned and ready to be analyzed

# Analyzing and visualizing data

In [148]:
correlations = combined.corr()
correlations["sat_score"]

SAT Critical Reading Avg. Score         0.986820
SAT Math Avg. Score                     0.972643
SAT Writing Avg. Score                  0.987771
sat_score                               1.000000
AP Test Takers                          0.523140
Total Exams Taken                       0.514333
Number of Exams with scores 3 4 or 5    0.463245
Total Cohort                            0.325144
CSD                                     0.042948
NUMBER OF STUDENTS / SEATS FILLED       0.394626
NUMBER OF SECTIONS                      0.362673
AVERAGE CLASS SIZE                      0.381014
SIZE OF SMALLEST CLASS                  0.249949
SIZE OF LARGEST CLASS                   0.314434
SCHOOLWIDE PUPIL-TEACHER RATIO               NaN
schoolyear                                   NaN
fl_percent                                   NaN
frl_percent                            -0.722225
total_enrollment                        0.367857
ell_num                                -0.153778
ell_percent                            -0.398750
sped_num                                0.034933
sped_percent                           -0.448170
asian_num                               0.475445
asian_per                               0.570730
black_num                               0.027979
black_per                              -0.284139
hispanic_num                            0.025744
hispanic_per                           -0.396985
white_num                               0.449559
                                          ...
rr_p                                    0.047925
N_s                                     0.423463
N_t                                     0.291463
N_p                                     0.421530
saf_p_11                                0.122913
com_p_11                               -0.115073
eng_p_11                                0.020254
aca_p_11                                0.035155
saf_t_11                                0.313810
com_t_11                                0.082419
eng_t_11                                0.036906
aca_t_11                                0.132348
saf_s_11                                0.337639
com_s_11                                0.187370
eng_s_11                                0.213822
aca_s_11                                0.339435
saf_tot_11                              0.318753
com_tot_11                              0.077310
eng_tot_11                              0.100102
aca_tot_11                              0.190966
grade_span_max                               NaN
expgrade_span_max                            NaN
zip                                    -0.063977
total_students                          0.407827
number_programs                         0.117012
priority08                                   NaN
priority09                                   NaN
priority10                                   NaN
lat                                    -0.121029
lon                                    -0.132222
Name: sat_score, Length: 67, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
combined.plot.scatter()